<footer>
    <div class="ft-left">
        <a href="index.html"><img src="images/UrugourmetLogoFooter.jpg"
                alt="Smaller version of the Urugourmet Logo"></a>
    </div>


    <div class="ft-center">
        <h3>Visit</h3>
        <a href="https://maps.app.goo.gl/bJqzCEi794yEcrjo7" target="_blank">
            <p>123 N Main Street</p>
            <p>Salt Lake City, UT 84150</p
        ></a>

        <h3>Contact</h3>
        <p>Phone: (555)555-5555</p>
        <p>Email: Urugourmet@email.com</p>
    </div>

    <div class="ft-right">
        <h3>Hours</h3>
        <p>Mon - Sat</p>
        <p>2:00pm - 10:00pm</p>

        <p>&copy; 2024 Urugourmet. All rights reserved.</p>

        <a href="https://www.facebook.com" target="_blank">
            <img src="images/socialMedia/facebookLogo.jpg" alt="Facebook Logo" class="social-media">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="images/socialMedia/instagramLogo.jpg" alt="Instagram Logo" class="social-media">
        </a>
        <a href="https://www.tiktok.com/" target="_blank">
            <img src="images/socialMedia/tiktokLogo.jpg" alt="TikTok Logo" class="social-media">
        </a>
        <a href="https://www.whatsapp.com/" target="_blank">
            <img src="images/socialMedia/whatsappLogo.jpg" alt="WhatsApp Logo" class="social-media">
        </a>
    </div>
</footer>