<footer>
    <a href="index.html"><img src="images/UrugourmetLogoFooter.jpg" alt="Smaller version of the Urugourmet Logo"></a>
    <h3>Visit</h3>
    <p>Address goes here</p>
    
    <h3>Contact</h3>
    <p>Phone: (555)555-5555</p>
    <p>Email: Urugourmet@email.com</p>

    <h3>Hours</h3>
    <p>Mon - Sat</p>
    <p>2:00pm - 10:00pm</p>

    <p>&copy; 2024 Urugourmet. All rights reserved.</p>
    <!-- <h3>Stay in touch</h3>
    <input type="email">
    <button type="submit">Submit</button> -->
    <a href="https://www.facebook.com">
        <img src="images/socialMedia/facebookLogo.jpg" alt="Facebook Logo">
    </a>
    <a href="https://www.instagram.com/">
        <img src="images/socialMedia/instagramLogo.jpg" alt="Instagram Logo">
    </a>
    <a href="https://www.tiktok.com/">
        <img src="images/socialMedia/tiktokLogo.jpg" alt="TikTok Logo">
    </a>
    <a href="https://www.whatsapp.com/">
        <img src="images/socialMedia/whatsappLogo.jpg" alt="WhatsApp Logo">
    </a>
</footer>