<header>
    <a href="index.html"><img src="/images/Urugourmet_logo.jpg" alt="The Urugourmet logo"></a>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <a href="index.html">Home</a>
        <a href="menu.html">Menu</a>
        <a href="eventsSpecials.html">Events</a>
        <a href="aboutUs.html">About Us</a>
        <a href="gallery.html">Gallery</a>
        <a href="contactUs.html">Contact Us</a>
    </nav>
</header>
